*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-light: #fff;
  --color-dark: #333333;
}

html,
body {
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
}

.logo {
  width: 50px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 5em;
}

.nav-list-item {
  cursor: pointer;
}

.main-container {
  display: flex;
  padding: 3em 8em;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

.film-item {
  width: 10em;
}

.film-image {
  width: 10em;
  border-radius: 2%;
}

.film-name {
  text-align: center;
}