*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-light: #fff;
  --color-dark: #404040;
}

html,
body {
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
}