@import "root";
@import "reset";
@import "footer";

html,
body {
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  background-color: $color-dark;
  color: $color-light;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
}

.logo {
  width: 50px;
}

.nav-list {
  display: flex;
  gap: 5em;
}

.nav-list-item {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: $color-light;
}

.nav-list-item:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.main-container {
  display: flex;
  padding: 3em 8em;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
}

.film-item {
  width: 10em;
}

.film-image {
  width: 10em;
  border-radius: 2%;
}

.film-name {
  text-align: center;
}
